gmock-1.7.0*
gtest-1.7.0*
cppcheck-1.65
*.hpp.gch
*.dcc
*.dhh
*.gcda
*.gcno
*.tmp
valgrind.log
*.so
*.a
*.o
exe
test/coverage/libcl3-core
test/coverage/libcl3-mm
test/coverage/libcl3-db
test/coverage/libcl3-core.info
test/coverage/libcl3-mm.info
test/coverage/libcl3-db.info
test/coverage/libcl3-core.txt
test/coverage/libcl3-mm.txt
test/coverage/libcl3-db.txt
